<link rel="stylesheet" href="/assets/style.css">

   <h1>VOTE</h1> 
   <div id="login">
  <% if(t.done==1){ var highest=0 %>
   <p>Poll has been ended by the admin</p>
   <% for(var i=0;i<t.options.length;i++){%>
      <% if(t.votes[i].vote>highest)highest=t.options[i] %> 
   <p><%=t.options[i] %> has <%=t.votes[i].vote %> votes </p>
   <%}%>
   <p><strong><%=highest %> has the most votes!!</strong> </p>
   <form method="POST" action="/vote">
      <p class="end"><input type="submit" name="delete" value="delete"></p>
   <%}else{ %>  
  
   <% if(p==1){ %>
      <p>Already voted! Wait for results</p> <%}else{ %> 
    <p><strong><%=t.question %> </strong></p>
    <form method="POST" action="/vote">   
      <% for(var i=0;i<t.options.length;i++){ %> 
         <div class="options">
      <label for="<%=i%>"><%=t.options[i] %></label>
      <input type="radio" id="<%=i%>" name="fun" value="<%=i%>"> <br></div>
    <% } %> 
   
    <p class="submit"><input type="submit" name="commit"  value="vote!"></p>
      </form>
      <%}%> 
      <% if(flag==1){%>
         <form method="POST" action="/vote">
            <p class="end"><input type="submit" name="end" value="end"></p>
            <%}%> 
         </form> 
         <%} %> 
         <a href="teamDashboard">Back to team dashboard</a>

      </div>
